In [ ]:
                #   [P A N D A S]  LIBARARY IN PYTHON 
    
    THEORY ---
    
   # pandas is an open sourse python libarary for working with data sets it os used for analysis ,
   # cleaning , exploring, n manipulating data . The name  "pandas" referred to both "panel Data"
   # , and "python Data Analysis" pandas created by *Wes McKinney in 2008*.
    
    > pandas can find-----
    --is there a correlation b/w two or more columns ? 
    --what is average value ?
    --what is the Max value ?
    --what is the Min value ?
    
    import pandas .

In [1]:
import pandas as pd

In [2]:
# checking version

print(pd.__version__)

1.4.2

In [ ]:
 *** Data Structure in Pandas-
    1> Series -- 1 dimensional labelled n homogenious data like a column in a table.
    
    2> DataFrame -- 2 dimensional labelled n hetrogenous data in tabular form.
    
    3> Panel -- 3 dimensional labelled array.
    
     *****SERIES*****
          
            First
        ____Name_____
            0 Lois
            1 Brenda
            2 joe                                           @ "important"//
            3 Diane
Index =>    4 Benjamin     <= Data                   ******[ALL ARE THE PANDAS SERIES]********
            5 Patrick
            6 Nancy
            7 Carol
            8 Frances
            9 Diana
         _______________

In [3]:
# create series

l1 = [1, 7, 2]

sr1 = pd.Series(l1)

print(sr1)

0    1
1    7
2    2
dtype: int64

In [ ]:
 *** Lables
    >> Lables --if not specified then labelled with their index no. like 0,1,2,3.......
    >> Lables are used to access a specific value.

In [4]:
print(sr1[2])

2

In [5]:
# create your own label by giving index arguments

l2 = [1, 5, 7, 9]

sr2 = pd.Series(l2, index = ['a' ,'b', 'c', 'd'])

print(sr2)
print(sr2["b"])                       
                      # accessing with their index lables.

a    1
b    5
c    7
d    9
dtype: int64
5

In [ ]:
 ## we can also create a series using a key/value objects, like a dictionary.

 ## Here key becomes the lables.

In [6]:
cars = {"car1": "Audi", "car2": "Murati", "car3": "i20", "car4": "creta"}

sr3 = pd.Series(cars)

print(sr3)

car1      Audi
car2    Murati
car3       i20
car4     creta
dtype: object

In [7]:
cars = {"car1": "Audi", "car2": "Murati", "car3": "i20", "car4": "creta"}

sr3 = pd.Series(cars, index= ["car1" , "car4"])

print(sr3)

car1     Audi
car4    creta
dtype: object

In [ ]:
#   Theory
DataFrame 
  << A DataFrame is like a 2 dimensionals array, or a table with rows n columns. >>
    
    FOR EXAMPLE :- 
        SERIES            SERIES            DATAFRAME
        > apples           > oranges        > apples  oranges
         0  3               0     0         0    3      0
         1  2      +        1     3    =    1    2      3
         2  0               2     7         2    0      7
         3  1               3     2         3    1      2
        
        
        Make A Table of this fruits**.

In [8]:
  # Create dataframe
    
data1 = {
         "distance": [500, 450, 350],
        "speed": [60, 40, 55]
}
    
    #   Load data into a dataframe object :
    
df = pd.DataFrame(data1)
    
print(df)

   distance  speed
0       500     60
1       450     40
2       350     55

In [ ]:
  << loc--to locate row, this attribute returns one or more specific row. >>

In [9]:
print(df.loc[1])
print(df.loc[0])

distance    450
speed        40
Name: 1, dtype: int64
distance    500
speed        60
Name: 0, dtype: int64

In [10]:
# to return 2 or more rows

print(df.loc[[0, 2]])

   distance  speed
0       500     60
2       350     55

In [11]:
### Naming indexes using index argument.

data1 = {
    "distance": [500, 450, 350],
    "speed": [60, 40, 55]
}

#load data into a dataframe object:

df = pd.DataFrame(data1, index = ["car1", "car2", "car3"])
print(df)

      distance  speed
car1       500     60
car2       450     40
car3       350     55

In [ ]:
 >> using named indexes in loc attribute to return specific rows. <<

In [12]:
print(df.loc["car1"])

distance    500
speed        60
Name: car1, dtype: int64

In [ ]:
  >> Create A DataFrame from Dict of ndarray/Lists.  <<

In [13]:
data = {'Name' :['Harry', 'jack', 'Mark'], 'Age' :[44,39,40]}

df = pd.DataFrame(data)

print(df)

    Name  Age
0  Harry   44
1   jack   39
2   Mark   40

In [ ]:
   >> Create a DataFrame from list of dictionary.  <<

In [14]:
data = [{"a": 1, "b": 2, "e" :7},{"a": 5, "b": 10, "c": 20}]
df2 = pd.DataFrame(data)

print(df2)

   a   b    e     c
0  1   2  7.0   NaN
1  5  10  NaN  20.0

In [ ]:
                     ***  append()  ***

In [15]:
#The pandas append() function is used to add the rows of other dataframe to the end of the given df.,
#returning a new dataframe object.


# create first Dataframe using dictionary

df1 = pd.DataFrame({"x" :[25,15,12,19],
                    "y" :[47, 24, 17, 29]})

# create second Dataframe using dictionary

df2 = pd.DataFrame({"x" :[25, 15, 12],
                    "y" :[47, 24, 17],
                    "z" :[38, 12, 45]})

#append df2 at end in df1

df1.append(df2, ignore_index = True)

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_10856\230204734.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df1.append(df2, ignore_index = True)

    x   y     z
0  25  47   NaN
1  15  24   NaN
2  12  17   NaN
3  19  29   NaN
4  25  47  38.0
5  15  24  12.0
6  12  17  45.0

In [ ]:
*** This programm is done the date of 1-july-2021. ***