In [1]:
# 2. Numberic  Type

n1 = 5
print("The type of a" , type(n1))

n2 = 40.5
print("The type of b" , type(n2))

n3 = 1+3j
print("The type of c" , type(n3))

The type of a <class 'int'>
The type of b <class 'float'>
The type of c <class 'complex'>

In [2]:
### Excerise Try it

t1 = 1
t2 = 35656222554887711
t3 = -325522

print(type(t1))
print(type(t2))
print(type(t3))

<class 'int'>
<class 'int'>
<class 'int'>

In [3]:
### Exercise try it

t1 = 2.20
t2 = 5.1111
t3 = -30.45890

print(type(t1))
print(type(t2))
print(type(t3))

<class 'float'>
<class 'float'>
<class 'float'>

In [4]:
# String 
s1 = " String using duble quotes "

print(s1)

s2 = '''A multiline string'''

print(s2)

 String using duble quotes
A multiline string

In [5]:
### exercise try it 

t1 = 42e44
t2 = 10e300
t3 = -30.2e99

print(type(t1))
print(type(t2))
print(type(t3))

<class 'float'>
<class 'float'>
<class 'float'>

In [ ]:
 # ** Types of conversion--convert from one type to another

    x = 2   #int
    y = 4.1  #float
    z = 2j   # complex
    
    # convert from int o float:
    a = float(x)
    
    # convert from float to int :
    b = int(y)
    
    # convert from int to complex :
    c = complex(x)
    
    print(a)
    print(b)
    print(c)
    
    print(type(a))
    print(type(b))
    print(type(c))

In [6]:
x = 2 
y = 4.1
z = 2j


a = float(x)

b = int(y)

c = complex(x)

print(a)
print(b)
print(c)

2.0
4
(2+0j)

In [7]:
x = 2
y = 4.1
z = 2j

a = float(x)

b = int(y)
 
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
4
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [8]:
# LIST 

# Lists are used to store multiple items in a singhle variables .
# Lists are one of 4 built - in data types in python used to store collections of data,the other Dictionary, all with different qualities n usage.

# Lists are created using square brackets.


#create list 

mylist = ["pen","book","paper","laptop"]

print(mylist)

['pen', 'book', 'paper', 'laptop']

In [9]:
# a. List length

print(len(mylist))

4

In [10]:
# b. list item are ordered , mutuable(chargeable),allows duplicate n heterogeneous
#Example

list = ["a", "a", 1, True]
print(list)

['a', 'a', 1, True]

In [ ]:
# c. list indexing are :- it is the 1st itm has index[0], the 2nd item has index[1] n so on
-ve *** indexing means start from the end  -1 refers to the last item , -2 refers to the last
second items n so on 

example 
list = ["a", "a", 1, True]
in binary!    !   !    !
         0    1   2   3
     **but in list indexing 
        
        list = ["a", "a", 1, True]
                 !    !    !   !
                -4    -3  -2   -1

In [11]:
# d. Access list items 

list = ["pen", "laptop", 6, 2, "book"]

print (list[1])
print(list[-3])

laptop
6

In [12]:
# range of indexes--- we can specificy a range of indexing by specificing where to end the range.

print(list[1:3])

print(list[:3])

print(list[1:])

['laptop', 6]
['pen', 'laptop', 6]
['laptop', 6, 2, 'book']

In [13]:
# e. Change list items 

list = ["orange" , "apple" , "kiwi", 7 , 9]
 
list[3] = 10

#print(list)

list[1:3] = ["grapes", "watermelon"]

print(list)

['orange', 'grapes', 'watermelon', 10, 9]

In [14]:
# f. Add items list
# append()--To add an item o the end of the list 

list.append("kiwi")
print(list)

['orange', 'grapes', 'watermelon', 10, 9, 'kiwi']

In [15]:
# insert()-- To insert a list at a specificed index

list.insert(2, "muskmelon")
print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 10, 9, 'kiwi']

In [16]:
# g- Remove list items 
# removed() --removes the specified item.

list.remove("kiwi")

print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 10, 9]

In [17]:
# **pop()-- Removes the specified index

list.pop(4)

print(list)

['orange', 'grapes', 'muskmelon', 'watermelon', 9]

In [ ]:
# ** TUPLE 
it is are usede to store multiple items in a single variables.
a tuple is a collection which is obtained n unchangeble.
tubles are written with round brackts.
tuple items are odered, unchangable,n allow duplicate values.
Tuple items are indexed , the first items has index[0], the second items has is called a tuple.

In [18]:
tuple1 = ("name" , "age", 2, 3)
print(tuple1)

('name', 'age', 2, 3)

In [19]:
# a. Access tuples


print(tuple1[1])
print(tuple1[1:5])

age
('age', 2, 3)

In [20]:
# b. Add items since tuple are immutable ,they do not have a build-in append()

mytuple = (1, "kiwi" , "cherry")

t = ("apple" , 1)

mytuple += t

print(mytuple)

(1, 'kiwi', 'cherry', 'apple', 1)

In [21]:
# c Join **2  tuple 

t1 = ("a", "b", "c")
t2 = (1,2,3)
t3 = t1 + t2

print(t3)

('a', 'b', 'c', 1, 2, 3)

In [22]:
print(type(t1))

<class 'tuple'>

In [ ]:
THEORY **###Exercise try it--

INT- integer value of numerical can be any lemgth such as integer 10,2,29,-20,-150 etc.

python has no restriction on the length of an integer. its value belongs to int.

float-float is used to store floating-point numbers like 1.9 , 9.902, 15.2, etc it is accurate upto 15.

complex - A complex number contains an ordered pair, i.e., x + iy wherw x n y fenote the real 
accurate pair .

The complex numbers like 2.14j , 2.0 + 2.3j, etc .

In [ ]:
     ******* THIS IS THE 3RD Days of data science with python classes {2,days of programs} 
        29 june 2021 *********